@page "/counter"

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @CounterState.Value.ClickCount</p>

<button class="btn btn-primary" @onclick="SetTo0">Set to 0</button>

<button class="btn btn-primary" @onclick="IncrementCount">+ 1</button>

<button class="btn btn-primary" @onclick="SetTo42">Set to 42</button>